# Please add your Firebase project credentials below in order for the app to work

NEXT_PUBLIC_FIREBASE_API_KEY="Your Firebase Project API key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="Your Firebase Project Auth Domain"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="Your Firebase Project ID"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="Your Firebase Project Storage Bucket"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="Your Firebase Project Messaging Sender ID"
NEXT_PUBLIC_FIREBASE_APP_ID="Your Firebase Project App ID"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="Your Firebase Project Measurement ID"